.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subContainer {
  display: flex;
  gap: 30px;
}

.componentsSection {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid var(--colorGrey300);
  width: fit-content;
}

.componentsWrapper {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.sectionLabel {
  margin: 0;
  font-size: 18px;
}

.buttonsWrapper {
  padding: 30px;
}

.buttonsTable td {
  padding: 15px;
  text-align: center;
}

.buttonsTable th {
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
}

.firstColumnCell {
  font-size: 12px;
}